name: CI pipeline

on:
  push:
    branches: ["main"]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4 # Mise à jour vers v4

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'

    - name: Install dependencies
      run: npm install

    - name: Test
      run: npm test

    # Utilisation de l'action officielle pour Docker Login
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_PASS }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKER_USER }}/demo-cicd-minikube:latest

  deploy-to-vm:
      needs: build-and-push
      runs-on: self-hosted 

      steps:
        # 1. Le runner récupère tes fichiers (notamment le dossier k8s/)
        
        name: Checkout repository
        uses: actions/checkout@v4

              # 2. On déploie sur Minikube
              
        name: Déploiement sur Minikube
        run: |
          kubectl apply -f k8s/deployment.yaml
          kubectl apply -f k8s/service.yaml
          # Comme ton image utilise le tag ":latest", Kubernetes ne la retélécharge # pas automatiquement s'il pense l'avoir déjà. On force donc le redémarrage # pour être sûr de faire tourner la toute dernière version buildée !
          kubectl rollout restart deployment demo-app
